Ex Aula Fiap 

** Variáveis **

In [1]:
nome="Humberto Delgado"
empresa='FIAP'
qtde_funcionarios=500
mediaMensalidade=856.50

uso do print()

foi usado a função str() para converter o conteúdo da variável "float" para string com isso a variável mediaMensalidade está dentro da função str()

In [2]:
nome="Humberto Delgado"
empresa='FIAP'
qtde_funcionarios=500
mediaMensalidade=856.50
print(nome + " trabalha na empresa " + empresa)
print("Possui: ", qtde_funcionarios, " funcionarios.")
print("A média da mensalidade é de: " + str(mediaMensalidade))

Humberto Delgado trabalha na empresa FIAP
Possui:  500  funcionarios.
A média da mensalidade é de: 856.5

uso do input
permite que o usuário possa digitar um conteúdo

In [3]:
nome=input("Digite um funcionário: ")
empresa=input("Digite a instituição: ")
qtde_funcionarios=int(input("Digite a qtde de funcionários: "))
mediaMensalidade=float(input("Digite a média da mensalidade: "))
print(nome + " trabalha na empresa " + empresa)
print("Possui: ", qtde_funcionarios, " funcionarios.")
print("A média da mensalidade é de: " + str(mediaMensalidade))

Digite um funcionário: Enzo
Digite a instituição: Fiap
Digite a qtde de funcionários: 1000
Digite a média da mensalidade: 770.54
Enzo trabalha na empresa Fiap
Possui:  1000  funcionarios.
A média da mensalidade é de: 770.54

uso da função type()
retorna o tipo de dado do que estiver dentro dos seus parênteses

In [4]:
nome=input("Digite um funcionário: ")
empresa=input("Digite a instituição: ")
qtde_funcionarios=int(input("Digite a qtde de funcionários: "))
mediaMensalidade=float(input("Digite a média da mensalidade: "))
print(nome + " trabalha na empresa " + empresa)
print("Possui: ", qtde_funcionarios, " funcionarios.")
print("A média da mensalidade é de: " + str(mediaMensalidade))
print("==============Verifique os tipos de dados abaixo:==============")
print("O tipo de dado da variavel [nome] é: ",type(nome))
print("O tipo de dado da variavel [empresa] é: ",type(empresa))
print("O tipo de dado da variavel [qtde_funcionarios] é: ",type(qtde_funcionarios))
print("O tipo de dado da variavel [mediaMensalidade] é: ",type(mediaMensalidade))

Digite um funcionário: Enzo
Digite a instituição: Fiap
Digite a qtde de funcionários: 10000
Digite a média da mensalidade: 770.00
Enzo trabalha na empresa Fiap
Possui:  10000  funcionarios.
A média da mensalidade é de: 770.0
==============Verifique os tipos de dados abaixo:==============
O tipo de dado da variavel [nome] é:  <class 'str'>
O tipo de dado da variavel [empresa] é:  <class 'str'>
O tipo de dado da variavel [qtde_funcionarios] é:  <class 'int'>
O tipo de dado da variavel [mediaMensalidade] é:  <class 'float'>